dn: dc=ziyotek,dc=local
objectClass: dcObject
objectClass: organization
o: ziyotek.local
dc: ziyotek

dn: ou=users,dc=ziyotek,dc=local
objectClass: organizationalUnit
objectClass: top
ou: users

dn: ou=groups,dc=ziyotek,dc=local
objectClass: organizationalUnit
objectClass: top
ou: groups
