dn: olcDatabase={2}hdb,cn=config
changeType: modify
replace: olcSuffix
olcSuffix: dc=ziyotek,dc=local
-
replace: olcRootDN
olcRootDN: cn=admin,dc=ziyotek,dc=local
-
add: olcRootPW
olcRootPW: {SSHA}tCfr7bXOFUNASIhR4D+GapQV1UB6/0XU
olcRootPW: {SSHA}kIIsBXf54zHMyPulmgY0N58giu8zNtiO
