dn: uid=nima,ou=users,dc=ziyotek,dc=local
objectClass: top
objectClass: account
objectClass: posixAccount
objectClass: shadowAccount
cn: nima
uid: nima
uidNumber: 10001
gidNumber: 10001
homeDirectory: /home/users/nima
loginShell: /bin/bash
gecos: Nima,System Engineer
userPassword: {crypt}x
shadowLastChange: 0
shadowMax: 0
shadowWarning: 0
